body{
	font-family: arial;
	margin: 0;
}



#thumbnail {
	font-size: 18px;
	display: inline-block;
	max-width: 300px;
	margin: 0 10px 0 10px; 

}

#container {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

div p {
	text-align: center;
}

#head {
	font-size: 30px;
	color: black;
	text-align: center;
}


img {

	min-width: 1%;
	max-width: 100%; 
	min-height: 1%;
	max-height: 100%;
	transition: 0.2s;
	transform: scale(1);

}

img:hover {
	transition: 0.2s;
	transform: scale(1.007);
}

#desc{
 	font-size: 20px; 
 	margin: 20px 10px 0 10px;
 	text-align: center;
	text-justify: inter-word;
}

#top{
	text-decoration: none;
	color:#A3ACB0;
}

a {
	text-decoration: none;
	color: black;
}

#contact {
		width: 50px;
	margin-left: auto;
	margin-right: auto;
}

a p {
	text-align:center;
}



@media screen and (max-width: 481px){



img {
	margin: 0;
	width: 100%;
	transition: 0.2s;
	transform: scale(1);
}

img:hover {
	transition: 0.2s;
	transform: scale(1.005);
}


#thumbnail{
	font-size: 18px;
	background-color: color;

}

#container{
	text-align: center;
	margin-top: 50px;
	display: inline-block;

}














