
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0;}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-height: 750px;
  min-height: 250px;
  max-width: 500px;
  min-width: 200px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 30px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
}

.prev{
	left: -50px;
}
/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */


.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -40px;
} 

/* Number text (1/3 etc) */
.number {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -65px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}





/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}*/

header p {
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Image transition */
img {
	transition: 0.3s;
	transform: scale(1);

}

img:hover {
	transition: 0.3s;
	transform: scale(1.01);
}

#desc{
	max-width: 500px;
	max-height: 760px;
	font-size: 30px;
	font: Verdana;
	text-align: justify;
	overflow: scroll;
}

@media screen and (max-width: 500px){

/*.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  bottom: 10%;
  color: green;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}*/

.prev{
	width: auto;
  left: 100px;
  top: 100%;
  margin-top: 6px;
	color: black;
	z-index: 1;
}

.next{
	width: auto;
	right: 100px;
  top:100%;
  margin-top: 6px;
	color: black;
	z-index: 1;

}

#desc{
  padding: 0px 20px;
}

}
