body{
	font-family: Arial;
	margin: 0;
}

header {
	text-align: center;
 	margin: 50px 10px 50px 10px;
}
header p{
	display: inline-block;
	text-align: center;
	font-size: 30px;
	margin: 0px 15px;

}

#main {
	font-size: 20px;
	color:black;
}

#tilt{
	font-size:18px;
	margin-top: 5px;
	display: none;
}


a {
	text-decoration: none;
	color: black;
}

img:hover {
	transition: 0.2s;
	opacity: 0.8;
}

img{

	opacity: 0.9;
	min-width: 1%;
	max-width: 100%; 
	min-height: 1%;
	max-height: 500px;
	transition: 0.2s;
	float: left;
}

#container {
	display: flex;
	justify-content: space-between;
	margin-left: 0: 
	margin-right: 0;
}

.row {
    display: -ms-flexbox;
}


@media only screen and (max-device-width: 481px) {

#tilt{ 
	display: block;
} 

img {
		filter: grayscale(0%);
}
}



